<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Autor</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Nuevo Autor</h1>
    <form action="/autores/nuevo" method="POST">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>
        <label for="apellido">Apellido:</label><br>
        <input type="text" id="apellido" name="apellido"><br><br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
